#menu {
    width: 90%;
    align-items: flex-start;
    justify-content: space-around;
    padding-left:3%;
}

#menu-head {
    font-size: 60;
    -unity-font-style: bold;
   padding-bottom:2%;
}

.unity-button {
    background-color: rgb(120, 69, 42);
    border-radius: 7px;
}

